.bg-orange{
    background-color: #f0fff0;
    padding-bottom: 50px;
}
.content-left-part{
    padding-top: 50px;
}
.content-left-part p{
    font-size: 16px;
    color: #6C6B6B;
    line-height: 35px;
}
.content-left-part h1{
    font-size: 50px;
    font-family: poppins;
    font-weight: bold;
}
.content-left-part h5{
 color: #FD511A;
}
.text-highlight{
    color: #6C6B6B;
    ;
}
.button-design-signin{
    background-color: #21B573;
    color: white!important;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 15px;
}
.button-design-all{
    background-color: #21B573;
    color: white!important;
    text-align: center;
    width: 35%;
    font-size:20px ;
    border-radius: 20px;
   margin-top: 35px;
}
.box-section{
    padding: 40px 0px;
}
.box{
    width: 270px;
    height: 270px;
    border-radius: 10px;
    box-shadow: 5px 10px 15px gray;
    text-align: center;
    padding-top: 50px;   
}
.box h2{
    color: #413960;
    margin-top: 25px;
    font-size: 25px;
}
.card{
    border: none;
    box-shadow: 5px 10px 20px gray;
    border-radius: 10px;
}
.buy-now{
    background-color: #21B573;
    color: white!important;
    text-align: center;
    border-radius: 15px;
    border: none;
    padding: 5px 20px;
}
.online-course{
    padding: 50px 0px;
}
.online-course h2{
    font-family: poppins;
    font-weight: 700;
    text-align: center;
    padding-bottom: 40px;
    color: #413960;
    font-size: 36px;
}
.footer-image{
    width: 20%;
    height: 30px;
}
.line-match{
   margin-left: 5px;
   vertical-align: baseline; 
}
.card-footer{
    border: none;
    background-color: white;
    border-radius: 10px!important;
}
.card-footer p{
    font-family: poppins;
    font-size: 16px;
    color: #585859;
    font-weight:600;
    margin-top: 3px;
    margin-left: 9px;
}
.Testimonial-section{
    margin: 30px 0px;
}
.testimonial {
    padding: 40px 50px;
}
.testimonial img{
height: 120px;
width: 120px;
left: 353px;
top: 1787px;
border-radius: 0px;
}
.testimonial p{
    font-family: poppins;
    line-height: 30px;
    font-weight: 500;
    font-size: 20px;
}
.testimonial-heading{
    text-align: center;
    margin-left: 70px;
    font-family: poppins;
    font-weight: bold;
    font-size: 40px;
}
.bg-gray{
    background-color:#282531;
    padding-top: 50px;
    padding-bottom: 20px;
}
.bg-gray ul li{
    list-style-type: none;
    color: white;
    font-size: 20px;

}
.bg-gray ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    opacity: 0.8;
}
.footer-describe {
    color: white;
    font-size: 20px;
}
footer p{
    text-align: center;
    color: rgba(255, 255, 255, 0.616);
}


